<main class="px-[22.5rem] py-12">
  <div class="flex justify-between items-center mb-12">
    <h2 class="font-system text-5xl text-[#00B5CC]">Início</h2>
    <input
      class="w-[327px] border border-[#3D3D3D] rounded-lg text-[#f2f2f2] outline-none bg-transparent p-3"
      type="text"
      id="search"
      name="search"
      (input)="searchCharacter($event)"
      placeholder="Pesquisar"
    />
  </div>

  @if (notFoundCharacter) {
    <app-not-found [title]="titleNotFound" [subtitle]="subtitleNotFound" />
  } @else {
    <div class="w-full flex flex-wrap gap-6">
      @for (character of characters; track character.id) {
        <app-character-card
          [character]="character"
          [isFavorite]="favoriteCharacterService.isFavorite(character)"
        />
      }
    </div>
  }
</main>
